{% extends 'base.html.twig' %}

{% block title %}Panier
{% endblock %}

{% block body %}
	<div class='order'>
		<h1>Votre panier :</h1>
		<table class='commandTable'>
			<tbody>
				{% for item in commandLines %}
					<tr>
						<td><img src={{ asset('img/' ~ item.getProduct.image)}} alt='strat'/></td>
						<td>
							<h2>{{item.getProduct.name}}</h2>
						</td>
						<td>
							<form action="{{ path('commandLine_update',{ 'id': item.id})}}" method='post'>
								<input type="number" value="{{item.quantity}}" id="quantity" name="quantity" min="1">
								<input class='submit little' type="submit" value="Mettre à jour">
							</form>
						</td>
						<td>
							<h2>{{item.getProduct.price}}€</h2>
						</td>
						<td>
							<a class='submit rm' href="{{ path('commandLine_delete', {'commandLineId': item.id}) }}">Supprimer</a>
						</td>
					</tr>
				{% else %}
					<p>Aucun article ajouté au panier.</p>
				{% endfor %}
			</tbody>
		</table>

		<h2>Sélectionner une adresse de livraison :</h2>
		<div class='addressContainer'>
			{% for address in allUserAddress %}
				{% if address.isSelect %}
					<div class='userAddress isSelect'>
					{% else %}
						<div class='userAddress'>
						{% endif %}
						<a href="{{ path('user_page', {'idAddress': address.id, 'path': 'order'})}}" class='userCard'>
							<p>Nom :
								{{ address.lastName }}</p>
							<p>Prénom :
								{{ address.firsName }}</p>
							<p>Téléphone :
								{{ address.phone }}</p>
							<p>Adresse :
								{{ address.address }}</p>
							<p>Code Potal :
								{{ address.postalCode }}</p>
							<p>Ville :
								{{ address.city }}</p>
							<p>Pays :
								{{ address.country }}</p>
						</a>
					</div>
				{% endfor %}
				<a class='submit' class='buttonAddAddress' href="{{ path('customer_address_new')}}">Ajouter une adresse</a>
			</div>


			{% if commandLines  %}
				<h2>Total de la commande :
					{{totalPrice}}€</h2>
			{% endif %}
			{% if allUserAddress|length != 0 and commandLines|length != 0  %}
				<a class='buttonCommander' href="{{ path('order_command')}}">Commander</a>
			{% else %}
				<p style="color:brown;">Veuillez ajouter au moins un produit et une adresse pour passer votre commande</p>
			{% endif %}

		</div>

		<style>
			.order {
				margin-top: 30px;
				display: flex;
				flex-direction: column;
				align-items: center;
				width: 90%;
				justify-content: center;
			}

			.commandTable {
				width: 90%;
				border-collapse: collapse;
				margin-bottom: 60px;
				margin-top: 40px;
			}

			.commandTable tr {
				border: solid 1px black;
			}

			.commandTable td {
				text-align: center;
				padding: 10px;
			}

			.commandTable form {
				display: flex;
				flex-direction: column;
			}

			.commandTable input {
				width: 100px;
				font-size: 1.2em;
			}

			.commandTable img {
				width: 150px;
			}

			.buttonCommander {
				margin-top: 30px;
				font-size: 1.3em;
				border: solid 1px black;
				padding: 20px;
				width: 200px;
				text-align: center;
				border-radius: 30px;
				transition: all 0.3s;
				background: white;
				color: black;
			}

			.buttonCommander:hover {
				background: black;
				color: white;
			}


			.addressContainer {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;
				flex-wrap: wrap;
			}
			.userAddress {
				display: flex;
				flex-direction: column;
				align-items: center;
				border: solid 1px black;
				border-radius: 15px;
				width: 30%;
				margin: 20px;
				padding: 10px;
				transform: scale(1);
				transition: all 0.3s;
				opacity: 0.2;
			}

			.userAddress.isSelect {
				opacity: 1;
			}

			.userAddress:hover {
				transform: scale(1.05);
			}


			.userAddress p {
				margin: 5px;
			}
		</style>
	{% endblock %}
